{% extends 'base.html' %}

{% block content %}
<h1>Восстановление пароля</h1>


{% if validlink %}

    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}

        <dl class="register">
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">{{ field }}
                {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                </dd>
            {% endfor %}
        </dl>
        <input type="submit" value="Отправить">
    </form>

    <br>
{% else %}
    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset
{% endif %}

{% endblock %}
