{% extends base %}

{% block content %}
    <div class="formenter" id="forgot-pas">
		<h4>Восстановление пароля</h4>

        {{ form.non_field_errors }}

		<form method="post" action="{{ form_url }}">
			<div class="regist">
				<p class="forg-desc1">На указанный вами адрес электронной почты придёт письмо со ссылкой на страницу изменения пароля.</p>

			    {% csrf_token %}

			    {{ form.email.label_tag }}
			    {{ form.email }}
			    {{ form.email.errors }}
				<p>Укажите адрес электронной почты, указанные при регистрации.</p>

				<button type="submit">Продолжить</button>
			</div>
		</form>
	</div>
{% endblock %}
