{% extends "game_base.html" %}
{% block head %}{% endblock %}
{% block title %}Тараканьи бега{% endblock %}
{% block user_cont %}
<div id="user">
	<img class="avatar" src="/site_media/{{ roach.avatar.image }}">
	<p>{{ roach.roach_name }}&nbsp;&nbsp;&nbsp;Баланс:&nbsp;{{ roach.money_2 }}</p>
	<p>HP:{{ roach.power }}/{{ roach.level.max_power }}&nbsp;&nbsp;Експа:&nbsp;{{ roach.exp_now }}</p>
	<table>
		<tr>
			<td>Выносливость:</td>
			<td>{{ roach.pow_skill }}</td>
		</tr>
		<tr>
			<td>Интелект:</td>
			<td>{{ roach.intel_skill }}</td>
		</tr>
		<tr>
			<td>Скорость:</td>
			<td>{{ roach.speed_skill }}</td>
		</tr>
		<tr>
			<td>Хитрость:</td>
			<td>{{ roach.trick_skill }}</td>
		</tr>
		<tr>
			<td>Уворотливость:</td>
			<td>{{ roach.agil_skill }}</td>
		</tr>
	</table>
</div>
{% endblock %}
{% block content %}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<div style="position:absolute; margin-left:30px;margin-top:30px; border:dotted;float:left;">
	<a href="/game/compete/{{ roach.id }}/" title="Позвонить менеджеру"><img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp"></a>
	<br>
	<a href="/game/compete/{{ roach.id }}/" title="Позвонить менеджеру">Поганяться</a>
</div>

<div style="position:absolute; margin-left:180px;margin-top:10px; border:dotted;float:left;">
	{% if work %}
	<a href="/game/work/abort/{{ roach.id }}/" title="Уйти с работы и не получить ничего">
		<img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp">
	</a><br>
	<a href="/game/work/abort/{{ roach.id }}/" title="Уйти с работы и не получить ничего">Уйти с работы</a>
	{% else %}
	<a href="/game/work/{{ roach.id }}/" title="Устроиться на работу и получить деньги">
		<img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp">
	</a><br>
	<a href="/game/work/{{ roach.id }}/" title="Устроиться на работу и получить деньги">Батрачить</a>
	{% endif %}
</div>

<div style="position:absolute; margin-left:380px;margin-top:50px; border:dotted;float:left;">
	{% if train %}
	<a href="/game/train/abort/{{ roach.id }}/" title="Уйти от тренера и не получить опыта">
		<img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp">
	</a><br>
	<a href="/game/train/abort/{{ roach.id }}/" title="Уйти от тренера и не получить опыта">Покинуть тренеровку</a>
	{% else %}
	<a href="/game/train/{{ roach.id }}/" title="Нанять тренера и получить опыт">
		<img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp">
	</a><br>
	<a href="/game/train/{{ roach.id }}/" title="Нанять тренера и получить опыт">Нанять тренера</a>
	{% endif %}
</div>

<div style="position:absolute; margin-left:80px;margin-top:250px; border:dotted;float:left;">
	<a href="/game/stat/{{ roach.id }}/" title="Рейтинги в мире тараканов"><img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp"></a>
	<br>
	<a href="/game/stat/{{ roach.id }}/" title="Рейтинги в мире тараканов">Мы любим яйца</a>
</div>

<div style="position:absolute; margin-left:280px;margin-top:280px; border:dotted;float:left;">
	<a href="/game/sale/{{ roach.id }}/" title="Где тут сникерсы продаються!?"><img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp"></a>
	<br>
	<a href="/game/sale/{{ roach.id }}/" title="Где тут сникерс купить можно!?">А есть че?</a>
</div>
<div style="position:absolute; margin-left:480px;margin-top:260px; border:dotted;float:left;">
	<a href="/game/evolution/{{ roach.id }}/" title="туць туць"><img class="icon" src="/site_media/upload/avatar/Fireworks_1.bmp"></a>
	<br>
	<a href="/game/evolution/{{ roach.id }}/" title="тыць тыць">Хачу стать круче</a>
</div>
{% endblock %}
