<!DOCTYPE html>
<html lang="ru">
<head>
<script type="text/javascript" src="{{ STATIC_URL }}main/js/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}main/css/style.css" type="text/css">
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/iefix.css" />
    <![endif]-->
{% block extra_head %}{% endblock %}
<title>{% block page_title %}{% endblock %}</title>
</head>
<body>
<div align="center">
<div id="total">
<div id="menu" align="center">
	<a href="#" title="Позвонить менеджеру">Поганяться</a>
	{% if work %}
	<a href="#" title="Уйти с работы и не получить ничего">Уйти с работы</a>
	{% else %}
	<a href="#" title="Устроиться на работу и получить деньги">Батрачить</a>
	{% endif %}
	{% if train %}
	<a href="#" title="Уйти от тренера и не получить опыта">Покинуть тренеровку</a>
	{% else %}
	<a href="#" title="Нанять тренера и получить опыт">Нанять тренера</a>
	{% endif %}
	
	{% if work %}
	<br>Осталось проработать:{% if hours %}{{ hours }} ч.,{% endif %} {{ minutes }} мин., {{ seconds }} сек.
	{% else %}
	{% if train %}
	<br>Осталось по6егать:{% if hours %}{{ hours }} ч.,{% endif %} {{ minutes }} мин., {{ seconds }} сек.
	{% endif %}
	{% endif %}
{% block menu %}
{% endblock %}		
</div>
<div id="user_cont">
{% block user_cont %}
{% endblock %}
</div>
<div id="main_cont">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>
