{% extends "game_base.html" %}
{% block head %}{% endblock %}

{% block title %}Тараканьи бега{% endblock %}
{% block menu %}<a href="/game/" id="hr">В нору</a>{% endblock %}
{% block user_cont %}
<div id="user">
	<img class="avatar" src="/site_media/{{ roach.avatar.image }}">
	<p>{{ roach.roach_name }}&nbsp;&nbsp;&nbsp;Баланс:&nbsp;{{ roach.money_2 }}</p>
	<p>HP:{{ roach.power }}/{{ roach.level.max_power }}&nbsp;&nbsp;Експа:&nbsp;{{ roach.exp_now }}</p>
	<table>
		<tr>
			<td>Выносливость:</td>
			<td>{{ roach.pow_skill }}</td>
		</tr>
		<tr>
			<td>Интелект:</td>
			<td>{{ roach.intel_skill }}</td>
		</tr>
		<tr>
			<td>Скорость:</td>
			<td>{{ roach.speed_skill }}</td>
		</tr>
		<tr>
			<td>Хитрость:</td>
			<td>{{ roach.trick_skill }}</td>
		</tr>
		<tr>
			<td>Уворотливость:</td>
			<td>{{ roach.agil_skill }}</td>
		</tr>
	</table>
</div>
{% endblock %}

{% block content %}
<p>Я скажу как тебя зовут...{{ roach.roach_name }}...верно!?!?</p>
<p>Я даже знаю сколько у тебя сейчас с собой денег... где то {{ roach.money_2 }} крупа...</p>
<p>Не удивляйся я просто Бог... и ничего больше...</p>
<p>Я дал самым страшным волкам клыки, огромным слонам - их устрашающие бивни,</p>
<p>кошачим - острые как лезвие когти, женщинам грудь... а чего хочешь ты???</p>
<p>Ты ведь таракан, не так ли? Вам ведь ничего не страшно - ни зима, ни бешенство...</p>
<p>...ни даже ядерный взрыв. НО есть одно, что вас всеравно беспокоит - конкуренция.</p>
<p>Вас тысячи, милионы... да какой там... вас не счесть. Даже мое Божественное ество</p>
<p>не в состоянии определить ваше количество. И естественно каждый из вас стараеться</p>
<p>быть на вершине, а ведь для этого необходимо быть умнее, сильнее и быстрее чем все</p>
<p>окружающие... Могу придать тебе новых сил, выбирай думай...</p>
	<table>
		<tr>
			<td>Выносливость: когда до последнего поворота остаетсья каких то пару сантиметров<br>
			побеждает не тот кто быстрее, а тот у кого хватит духу доползти...</td>
			<td>{{ roach.pow_skill }}<a href="pow+">сильнее</a></td>
		</tr>
		<tr>
			<td>Интелект: каким образом Барикелло входит во все виражи??? Да просто... он знает<br>
			как важно подобрать траекторию, не теряя при этом скорость</td>
			<td>{{ roach.intel_skill }}<a href="intel+">умнее</a></td>
		</tr>
		<tr>
			<td>Скорость: ну, ок, выносливость, интелект... это все хорошо, а когда ты несешся<br>
			по гладкому столовому покрытию... в тебе всегда будет жажда скорости</td>
			<td>{{ roach.speed_skill }}<a href="speed+">быстрее</a></td>
		</tr>
		<tr>
			<td>Хитрость: а что если твой соперник сильнее тебя??? Неужели это вариант: сложить<br>
			лапки и сдаться??? Ему можно насрать в тапки, и кто прибежит быстрее???</td>
			<td>{{ roach.trick_skill }}<a href="trick+">хитрее</a></td>
		</tr>
		<tr>
			<td>Уворотливость: но ведь соперник тоже может сделать что то эдакое...<br>
			Интересно будет посмотреть, как он удивиться достань вы запасные тапки</td>
			<td>{{ roach.agil_skill }}<a href="agil+">увертливее</a></td>
		</tr>
	</table>
{% endblock %}
