{% extends "game_base.html" %}
{% load thumbnail %}
{% block page_title %}Тараканьи бега{% endblock %}
{% block user_cont %}
<div pk="user">
	{% thumbnail roach.avatar "25" crop="center" as im %}
	<img class="avatar" src="{{ im.url }}">
	{% empty %}
	<img class="avatar" src="{{ STATIC_URL }}main/img/av.bmp"
	{% endthumbnail %}
	<p>{{ roach.roach_name }}&nbsp;&nbsp;&nbsp;Баланс:&nbsp;{{ roach.money_2 }}</p>
	<p>HP:{{ roach.power }}/{{ roach.level.max_power }}&nbsp;&nbsp;Експа:&nbsp;{{ roach.exp_now }}</p>
	<table>
		<tr>
			<td>Выносливость:</td>
			<td>{{ roach.pow_skill }}</td>
		</tr>
		<tr>
			<td>Интелект:</td>
			<td>{{ roach.intel_skill }}</td>
		</tr>
		<tr>
			<td>Скорость:</td>
			<td>{{ roach.speed_skill }}</td>
		</tr>
		<tr>
			<td>Хитрость:</td>
			<td>{{ roach.trick_skill }}</td>
		</tr>
		<tr>
			<td>Уворотливость:</td>
			<td>{{ roach.agil_skill }}</td>
		</tr>
	</table>
</div>
{% endblock %}
{% block content %}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<div style="position:absolute; margin-left:30px;margin-top:30px; border:dotted;float:left;">
	<a href="{% url compete %}" title="Позвонить менеджеру">
	<img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp">
	<br>
	Поганяться
	</a>
</div>

<div style="position:absolute; margin-left:180px;margin-top:10px; border:dotted;float:left;">
	{% if work %}
	<a href="{% url work_abort roach.pk %}" title="Уйти с работы и не получить ничего">
		<img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp">
		<br>
		Уйти с работы
	</a>
	{% else %}
	<a href="{% url work roach.pk %}" title="Устроиться на работу и получить деньги">
		<img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp">
		<br>
		Батрачить
	</a>
	{% endif %}
</div>

<div style="position:absolute; margin-left:380px;margin-top:50px; border:dotted;float:left;">
	{% if train %}
	<a href="{% url train_abort roach.pk %}" title="Уйти от тренера и не получить опыта">
		<img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp">
		<br>
		Покинуть тренеровку
	</a>
	{% else %}
	<a href="{% url train roach.pk %}" title="Нанять тренера и получить опыт">
		<img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp">
		<br>
		Нанять тренера
	</a>
	{% endif %}
</div>

<div style="position:absolute; margin-left:80px;margin-top:250px; border:dotted;float:left;">
	<a href="#" title="Рейтинги в мире тараканов"><img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp"></a>
	<br>
	<a href="#" title="Рейтинги в мире тараканов">Мы любим яйца</a>
</div>

<div style="position:absolute; margin-left:280px;margin-top:280px; border:dotted;float:left;">
	<a href="#" title="Где тут сникерсы продаються!?"><img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp"></a>
	<br>
	<a href="#" title="Где тут сникерс купить можно!?">А есть че?</a>
</div>
<div style="position:absolute; margin-left:480px;margin-top:260px; border:dotted;float:left;">
	<a href="#" title="туць туць"><img class="icon" src="{{ STATIC_URL }}main/img/Fireworks_1.bmp"></a>
	<br>
	<a href="#" title="тыць тыць">Хачу стать круче</a>
</div>
{% endblock %}
